.container-title {
  background-color: var(--background-contrast);
  width: 100%;
  height: 299px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page-title {
  font-weight: 800;
  font-size: 48px;
  color: var(--dark);
  margin-bottom: 37px;
}

.page-sub-title {
  color: var(--dark);
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}
