.container-title {
  background-color: var(--background-contrast);
  width: 100%;
  height: 299px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page-title {
  font-weight: 800;
  font-size: 48px;
  color: var(--dark);
  margin-bottom: 37px;
}

.page-sub-title {
  color: var(--dark);
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

.container {
  width: 100%;
  max-width: 1109px;
  margin: 0 auto;
  margin-top: 20px;
}

.box-instructions {
  width: 100%;
  max-width: 632px;
}

.title {
  font-size: 36px;
  font-weight: 900;
  line-height: 82px;
  color: var(--dark);
  display: flex;
  justify-content: space-between;
}

section.key {
  margin-bottom: 25px;
}

.label {
  font-size: 18px;
  color: var(--dark);
}

.box {
  background-color: var(--background-contrast);
  padding: 13px 27px;
  border-radius: 4px;
  margin-top: 10px;
  display: block;

  font-size: 18px;
  color: var(--dark);
  font-weight: 500;
}

/* Caixa contendo a chave */
.box.key {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-group img {
  cursor: pointer;
}

/* Adiciona uma margen na primeira img dentro do elemento com classe icon-group
  Veja mais sobre o seletor :first-child aqui: https://www.w3schools.com/cssref/sel_firstchild.asp 
*/
.icon-group img:first-child {
  margin-right: 15px;
}
