.container-title {
  background-color: var(--background-contrast);
  width: 100%;
  height: 299px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page-title {
  font-weight: 800;
  font-size: 48px;
  color: var(--dark);
  margin-bottom: 37px;
}

.page-sub-title {
  color: var(--dark);
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

.container {
  background-color: var(--background);
  width: 100%;
  height: auto;
}

.box-config {
  width: 100%;
  max-width: 632px;
  position: relative;
  left: 172px;
}

.box-h2 {
  font-size: 36px;
  font-weight: 900;
  line-height: 82px;
  color: var(--dark);
  display: flex;
  justify-content: space-between;
}

.box-key {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 7px;
}

.acess-key {
  width: 630px;
  height: 43px;
  background-color: var(--background-code);
  line-height: 43px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
}

.box-code {
  display: flex;
  align-items: center;
}

.arow {
  display: flex;
  justify-content: space-between;
}

.code-script {
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
  margin-bottom: 25px;
}

.box-script {
  font-size: 18px;
  font-weight: 400;
}
