.wrapper {
  background-color: var(--primary);
}

.container {
  height: 597px;
  position: relative;
  padding: 0 20px 42px;
  width: 100%;
  max-width: 1109px;
  margin: 0 auto;
  background-image: url("../img/transparent-blue-balloons.png");
  background-size: 647px;
  background-repeat: no-repeat;
  background-position: 123% -54%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.box {
  width: 100%;
  max-width: 572px;
  height: 300px;
  padding: 0 auto;
}

.main-title {
  margin: 0 auto;
  font-weight: 900;
  font-style: normal;
  font-size: 48px;
  color: var(--background);
  line-height: 1.2;
  margin-bottom: 14px;
}

.main-subtitle {
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: var(--background);
  line-height: 1.2;
  margin-bottom: 31px;
}
.box .button {
  height: 36px;
  background-color: var(--white);
  border-radius: 23px;

  color: var(--primary);
  font-weight: 700;
  font-size: 18px;
  border-color: transparent;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.contact-container {
  width: 100%;
  height: 346px;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-contact {
  width: 100%;
  max-width: 623px;
  height: 143px;
  position: relative;
  text-align: center;
}

.box-contact h2 {
  color: var(--dark);
  font-weight: 900;
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 1.6;
}

.box-contact p {
  color: var(--dark);
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 1.1;
  margin-bottom: 12px;
}

.box-button {
  height: 36px;
  background-color: var(--primary);
  border-radius: 23px;
  color: var(--white);
  font-weight: 700;
  font-size: 18px;
  border-color: transparent;
  padding: 0 20px;
  align-items: center;
  margin-bottom: 102px;
}
