.wrapper {
  background-color: var(--primary);
}

.container {
  height: 597px;
  position: relative;
  padding: 0 20px 42px;
  width: 100%;
  max-width: 1109px;
  margin: 0 auto;
  background-image: url("../img/transparent-blue-balloons.png");
  background-size: 647px;
  background-repeat: no-repeat;
  background-position: 123% -54%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.box {
  max-width: 800px;
  height: 300px;
  padding: 0 auto;
}

.box h2 {
  margin: 0 auto;
  font-weight: 900;
  font-style: normal;
  font-size: 48px;
  color: var(--background);
}

.box p {
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: var(--background);
}
.box .button {
  height: 36px;
  background-color: var(--white);
  border-radius: 23px;

  color: var(--primary);
  font-weight: 700;
  font-size: 18px;
  border-color: transparent;
  padding: 0 20px;
  display: flex;
  align-items: center;
}
